<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Cats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>
<nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        </button> <a class="navbar-brand" href="/">Everything Cats</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a>
                </li>
                <li class="active nav-item"><a href="/sharks" class="nav-link">Cats</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>Info about Maine Coon cats</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p>
                <div class="caption">Maine Coon cats, or simply Maine cats, are said to have originated from the name "Maine Coon" from the cold state of Maine in the New England region of the United States.The Maine Coon cat we know today as the “gentle giant”
                </div>
                <img src="https://cdn.tgdd.vn/Files/2022/11/30/1491731/meo-maine-coon-nguon-goc-dac-diem-cach-nuoi-gia-ban-202211300746386290.jpg" alt="Sawshark">
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                <div class="caption">Maine coon cats are also known as “the clowns of the cat world” because of their unique characteristics and personalities.Maine Coon cats especially love to snuggle up with their loved ones to feel the warm, loving hugs.</div>
                <img src="https://cdn.tgdd.vn/Files/2022/11/30/1491731/meo-maine-coon-nguon-goc-dac-diem-cach-nuoi-gia-ban-202211300746569788.jpg" alt="Sammy the Shark">
            </p>
        </div>
    </div>
</div>

</html>